h1 {
  color: Purple;
  text-align: center;
  font: bold 75px bookman old style;
}

body {
    background-color: Azure;
}

img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#quote{

	font-style:italic;
	text-align: center;
}
	
p {
	text-align:center;
}
h3 {
	color: Purple;
}
h4 {
	font-style: italic bookman old style;
	
}
